
@font-face {
	font-family: 'SAP-SolMan-Icons';
	src: url('fonts/SAP-SolMan-Icons.ttf'),
     url('fonts/SAP-SolMan-Icons.eot'); /* IE9+ */
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'SAP-SolMan-Icons';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'SAP-SolMan-Icons';
	font-style: normal;
	speak: none;
}
.icon-circle:before {
	content: "\e000";
}
.icon-error:before {
	content: "\e001";
}
